body {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.fixed-bottom {
  position: fixed;
  background-color: #385170;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #ececec;
}

.fixed-bottom ul {
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  list-style: none;
}

.fixed-bottom ul a:hover {
  opacity: 1;
}

.fixed-bottom li {
  padding: 0 10px;
  display: inline;
}

.fixed-bottom ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.fixed-bottom .copyright {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 13px;
}
