.container {
    background: url(images/piggy.jpg) repeat fixed center center;

    background-blend-mode: saturation;
    background-size: cover;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    height: 100vh;
    overflow: auto;

}

.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 10px solid #ff656c;
    margin: 0 auto;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
}

.login-block input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    text-align: center;
    padding: 0 0px 0 0px;
    outline: none;
}

.login-block input#username {
    background-size: 16px 80px;
}

.login-block input#username:focus {
    background-size: 16px 80px;
}

.login-block input#password {
    background-size: 16px 80px;
}

.login-block input#password:focus {
   background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #ff656c;
}
.singin {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    outline: none;
    cursor: pointer;
}

.singin:hover {
    background: #ff7b81;
}




